<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/> -->
	<link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/my_style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo-matcha.png') }}" />
    <!-- Compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> -->
	{% block css %}{% endblock css %}


	<title>{% block title %}Matcha{% endblock title %}</title>
	
</head>

<body>
	<div class="container">
	<p hidden id="my_user_name">{{ session['user'] }}</p>
	<h1>Bienvenue sur Matcha<br/> le site de soul_match !</h1>
    <p>Aujourd'hui nous sommes le {{date}}, c'est un bon jour pour trouver ton soul_match!</p>

	{% include 'layouts/menu.html' %}

	{% block body %}
	{% endblock body %}

	<div id='notif'>
	</div>
	</div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/notification-controller.js') }}"></script>



<!-- Compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

{% block script %}

{% endblock script %}

{% include 'layouts/footer.html' %}

</html>