html{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Courier New';
    /*Shore*/
    /*background: linear-gradient(to right, #70e1f5, #ffd194); */
    /*Dance To Forget*/
    /*background: linear-gradient(to right, #ff4e50, #f9d423); */
    background-color: white;
}

hr{
    color: black;
}

/* A VIRER !! */
div{
    border-style: solid;
}

#index-login{
    margin-bottom: 30px;
    display: inline-flex;
}

#index-verti_stick{
    width: 2px;
    max-height: 100%;
    padding: 50px 0px 100px 0px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: gainsboro;
    display: inline-block;
}

input {
    margin: 2px 0 2px 0;
}

#form_error{
    background-color: rgba(199, 0, 57, 0.4);
    font-size: x-small;
    display: block;
}

#form_info{
    font-size: x-small;
    display: block;
}

#main_container, #infos_user{
    display: flex;
}

#box_left{
    margin: 5px 10px 5px 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.inline{
    display: inline-flex;
    margin: 0px 5px 0px 5px;
    justify-content: center;
}

#box_right{
    margin: 5px 10px 5px 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#box_right img{
    margin: 5px 0px 5px 0px;
    border-style: solid;
    border-color: gainsboro;
}

#profile{
    width: 70%;
    text-align: left;
    padding-left: 10%;
    border-color: black;/* A VIRER !! */
}

#username, #pop_score{
    font-weight: bold;
    font-size: x-large;
}

#first_name, #last_name{
    font-style: italic;
    font-size: medium;
}

#social{
    width: 30%;
}
