<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messenger.css') }}">

	</head>

	<body>
		<div id="message">
			{%for message in msg:%}
			{%	if message['from_id'] == from_id:%}
				<div class="me">
					<p>{{message['content']}}</p>
				</div>
			{%	else:%}
				<div class="dest">
					<p>{{message['content']}}</p>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</body>

	<script type="text/javascript">
		window.scrollTo(0, document.body.clientHeight);
	</script>
        
</html>