<!DOCTYPE HTML>
<html>

	{% extends 'layouts/default.html' %}

	{% block title %}Home &middot; {{ super() }}{% endblock title %}

	{% block css %}
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/home.css') }}"/>
	{% endblock css %}

	{% block body %}
		<div id="search_found">
			<div class="filters">
				<form name="filtres" method="post" action="/search">
					<span>Recherche Avancée</span>
					<p>age entre : 
						<input type="number" name="age_min" min="18" max="70" onblur="checkMax('age')">
						et :
						<input type="number" name="age_max" max="40">
					<p/>
					<p> pop_score entre : 
						<input type="number" name="pop_score_min" step="10" min="0" max="1000" onblur="checkMax('pop_score')">
						et :
						<input type="number" name="pop_score_max" step="10" max="1000">
					</p>
					<p>localisation : 
						<input type="number" name="location" step="10" min="0" max="1000">km autour de moi.
					</p>
					<p> nombre de tags en commun : 
						<input type="number" name="interests" min="0" max="10">
					</p>
					<input type="submit" name="submit" value="Rechercher">
				</form>
			</div>

			<p>Résultats ({{length}})</p>
			<div class="second_part">
			<div class="sorters">
				<p>Filtrer les résultats par:</p>
				<form id="sortSelection" method="post" action="/sortby">
					<select name="sort_by" form="sortSelection">
					  <option value="age_d">Age décroissant</option>
					  <option value="age_i">Age croissant</option>
					  <option value="pop_score_d">Pop_score décroissant</option>
					  <option value="pop_score_i">Pop_score croissant</option>
					  <option value="location_d">Localisation décroissant</option>
					  <option value="location_i">Localisation croissant</option>
					  <option value="interests_d">Tags décroissant</option>
					  <option value="interests_i">Tags croissant</option>
					</select>
					<input type="submit" name="submit" value="Trier">
				</form>
			</div>
			<div id="results">
				{% for item in infos: %}
						<div class="result_table"> 
							<a href="/profile/{{item['username']}}">
								<img width="25%" src="{{ item['profile_picture'] }}">
								<br>
								{{ item['username']}}
							</a>
							{% if item['status'] == 1%}
								<img width="2%" src="{{ url_for('static', filename='img/status-green.png') }}" alt="online" title="L'utilisateur est en ligne"/>
							{% else: %}
								<img width="2%" src="{{ url_for('static', filename='img/status-red.png') }}" alt="offline" title="L'utilisateur est hors ligne"/>
							{% endif%}
						</div>	
				{% endfor %}
			</div>
			</div>
		</div>

		
	{% endblock body %}
	{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/home-controller.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static', filename='js/set_geoloc.js') }}"></script>
    {% endblock script %}
        
</html>