<!DOCTYPE HTML>
<html>

	{% extends 'layouts/index_layout.html' %}

	
    {% block title %}Login &middot; {{ super() }}{% endblock title %}



	{% block body %}
    
    {% if 'error' != None :%}
    <div id='error'>
        <p>
           {{ error }} 
        </p>
    </div>
    {% endif %}

    {% if 'all_ok' != None : %}
    <div id='all_ok'>
        <p>
           {{ all_ok }} 
        </p>
    </div>
    {% endif %}

	<div id='index-login'>
        
        <div>
        <form name="signup" method="post" action="/signup">
            <p>Pas encore inscrit ?</p>
            Votre pseudo : <input type="text" name="username" placeholder="Pseudo" required onblur="checkUsername()" onkeyup="checkSubmit('0', 'username')"/>
            <br/>
            Votre prénom : <input type="text" name="first_name" placeholder="Prénom" required onblur="checkInputs('0')" onkeyup="checkSubmit('0', 'first_name')"/>
            <br/>
            Votre nom : <input type="text" name="last_name" placeholder="Nom" required onblur="checkInputs('0')" onkeyup="checkSubmit('0', 'last_name')"/>
            <br/>
            Votre e-mail : <input type="email" name="email" placeholder="Adresse mail" required onblur="checkEmail()" onkeyup="checkSubmit('0', 'email')"/>
            <br/>
            Votre mot de passe : <input type="password" name="password" placeholder=" &middot; &middot; &middot;" required onfocus="displayInfo(0)" onblur="displayInfo(1)" onkeyup="checkPassword()" onkeyup="checkSubmit('0', 'password')"/>
            <br/>
            Confirmez votre mot de passe : <input type="password" name="password_2" placeholder=" &middot; &middot; &middot;" required onkeyup="checkIdentical()" onkeyup="checkSubmit('0', 'password_2')"/>
            <br/>
            <input type="submit" name="submit" value="Je m'inscris !" disabled />
        </form>
        </div>
            
        <div id="index-verti_stick">
        </div>
        
        <div>
        <form name="signin" method="post" action="/signin">
            <p> Déjà inscrit ?</p>
            Votre pseudo : <input type="text" name="username" placeholder="Pseudo" required onblur="checkInputs('1')" onkeyup="checkSubmit('1', 'username')"/>
            <br/>
            Votre mot de passe : <input type="password" name="password" placeholder=" &middot; &middot; &middot;" required onkeyup="checkSubmit('1', 'password')"/>
            <br/>
            <a href="/forgotten_password"> Mot de passe oublié?</a>
            <br/>
            <input type="submit" name="submit" value="Go !" disabled />
        </form>
        </div>
    
    </div>
	{% endblock body %}

    {% block script %}
    <script type="text/javascript" src="static/js/index-controller.js"></script>

    <script type="text/javascript">

        if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        else
            console.log("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
            
        function successCallback(position){
            console.log("Latitude : " + position.coords.latitude + ", longitude : " + position.coords.longitude);
            // save long and lat in users
        };  

        function errorCallback(error){
            switch(error.code){
                case error.PERMISSION_DENIED:
                    console.log("L'utilisateur n'a pas autorisé l'accès à sa position");
                    break;          
                case error.POSITION_UNAVAILABLE:
                    console.log("L'emplacement de l'utilisateur n'a pas pu être déterminé");
                    break;
                case error.TIMEOUT:
                    console.log("Le service n'a pas répondu à temps");
                    break;
                }
        };

    </script>
    {% endblock script %}


        
</html>




















