<!DOCTYPE HTML>
<html>

	{% extends 'layouts/default.html' %}
	
	{% block title %}Compte &middot; {{ super() }}{% endblock title %}


	{% block body %}
	
	<div>
		<div id="box_picture">
			<img src="{{ url_for('static', filename='waiting_for_picture.jpg') }}"/>
		</div>
		<div id="infos_user">
			<div id="profile">
				<p id="username">{{ infos['username'] }}</p>
				<p id="first_name">{{ infos['first_name'] }}</p>
				<p id="last_name">{{ infos['last_name'] }}</p>
				<p id="email" hidden>{{ infos['email'] }}</p>
			</div>
			<div id="social">
				<p id="pop_score">{{ infos['pop_score'] }}</p>
				<p id="nb_likes">0</p>
				<p id="last_connexion">{{ infos['last_connexion'] }}</p>
			</div>
		</div>
	</div>
		
	<div id="main_container" style="">
		<div id="box_left">
			<p>{{ infos['sex'] }}</p>
			<p>{{ infos['orientation'] }}</p>
			<p>{{ infos['bio'] }}</p>
			<p>{{ infos['interests'] }}</p>
		</div>
		
		<div id="box_right">
			<img src="{{ url_for('static', filename='missing_picture.jpeg') }}"/>
			<img src="{{ url_for('static', filename='missing_picture.jpeg') }}"/>
			<img src="{{ url_for('static', filename='missing_picture.jpeg') }}"/>
			<img src="{{ url_for('static', filename='missing_picture.jpeg') }}"/>
		</div>
	</div>
	{% endblock body %}

        
</html>