<!DOCTYPE HTML>
<html>

	{% extends 'layouts/default.html' %}
	
	{% block title %}Compte &middot; {{ super() }}{% endblock title %}

	{% block css %}
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/profile.css') }}"/>
	{% endblock css %}

	{% block body %}
	{% if error != None :%}
	    <div id='error'>
	        <p>
	           {{ error }} 
	        </p>
	    </div>
    {% endif %}
	<div>
		<div id="box_picture" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('picture_1')" onmouseleave="unDisplayForm('picture_1')" {% endif %}>
			<img src="{{ infos['picture_1'] }}"/>
			
			<form name="form_picture_1" method="post" action="/profile_add_picture" enctype="multipart/form-data" hidden>
		        <input type="file" name="picture"/>
		        <input type="hidden" name="username" value="{{ infos['username'] }}">
		        <input type="hidden" name="number" value="1">
		        <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
		        <input type="submit" name="submit" value="Upload"/>
		    </form>
		</div>
		
		<div id="infos_user">
			<div id="profile">
				<p id="username">{{ infos['username'] }}</p>

				<div class="inline" name="first_name" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('first_name')" onmouseleave="unDisplayForm('first_name')" {% endif %}>
					<p id="first_name">{{ infos['first_name'] }}</p>

					{% if infos['is_user_me'] == True %}
					<form name="form_first_name" action="/profile_modifications" method="post" hidden>
						<input type="text" name="first_name" placeholder="{{ infos['first_name'] }}">
						<input type="hidden" name="username" value="{{ infos['username'] }}">
						<input type="submit" name="submit" value="Modif.">
					</form>
					{% endif %}
				</div>
				
				<div class="inline" name="last_name" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('last_name')" onmouseleave="unDisplayForm('last_name')" {% endif %}>
					<p id="last_name">{{ infos['last_name'] }}</p>

					{% if infos['is_user_me'] == True %}
					<form name="form_last_name" action="/profile_modifications" method="post" hidden>
						<input type="text" name="last_name" placeholder="{{ infos['last_name'] }}">
						<input type="hidden" name="username" value="{{ infos['username'] }}">
						<input type="submit" name="submit" value="Modif.">
					</form>
					{% endif %}
				</div>
				
				{% if infos['is_user_me'] == True %}
				<div class="inline" name="email" onmouseenter="displayForm('email')" onmouseleave="unDisplayForm('email')">
					<p id="email">{{ infos['email'] }}</p>

					<form name="form_email" action="/profile_modifications" method="post" hidden>
						<input type="text" name="email" placeholder="{{ infos['email'] }}">
						<input type="hidden" name="username" value="{{ infos['username'] }}">
						<input type="submit" name="submit" value="Modif.">
					</form>
				</div>

				<div class="inline" name="password" onmouseenter="displayForm('password')" onmouseleave="unDisplayForm('password')">
					<img width="10%" height="10%" src="{{ url_for('static', filename='img/password_lock.png') }}" alt="password" title="Modifier votre mot de passe."/>

					<form name="form_password" action="/profile_modifications" method="post" hidden>
						<input type="password" name="password" placeholder="Ancien Mot de passe">
						<input type="password" name="password_new" placeholder="Nouveau Mot de passe">
						<input type="hidden" name="username" value="{{ infos['username'] }}">
						<input type="submit" name="submit" value="Modif.">
					</form>
				</div>
				{% endif %}

				<div class="inline" name="location" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('location')" onmouseleave="unDisplayForm('location')" {% endif %}>
					<p id="location">{{ infos['location'] }}</p>

					{% if infos['is_user_me'] == True %}
					<form name="form_location" action="/profile_modifications" method="post" hidden>
						<input type="text" name="location" placeholder="{{ infos['location'] }}">
						<input type="hidden" name="username" value="{{ infos['username'] }}">
						<input type="submit" name="submit" value="Modif.">
					</form>
					{% endif %}
				</div>
			</div>
			
			<div id="social">
				<p id="pop_score">Pop_score : {{ infos['pop_score'] }}</p>
				<p id="nb_likes">Like : {{ infos['nb_like'] }}</p>

				{% if infos['stalker_can_like'] == False %}
				<p>T'as le seum, tu peux pas like parce que t'as pas mis de photo! Déso</p>
				{% elif infos['is_user_me'] == False and infos['has_liked'] == False %}
				<form name="form_like" action="/like" method="post">
					<input type="image" name="like" class="like_button" src="{{ url_for('static', filename='img/like_button.png') }}" title="Like-moi !!">
					<input type="hidden" name="stalker" value="{{ infos['stalker'] }}">
					<input type="hidden" name="victim" value="{{ infos['username'] }}">
				</form>
				{% elif infos['is_user_me'] == False and infos['has_liked'] == True: %}
				<form name="form_unlike" action="/unlike" method="post">
					<input type="image" name="unlike" class="like_button" src="{{ url_for('static', filename='img/has_liked_button.png') }}" title="Tu as déjà liké cette personne! Clique pour unlike!">
					<input type="hidden" name="stalker" value="{{ infos['stalker'] }}">
					<input type="hidden" name="victim" value="{{ infos['username'] }}">
				</form>
				{% endif %}
				
				<p id="last_connexion">{{ infos['last_connexion'] }}</p>
				{% if infos['status'] == '1': %}
				<img width="10%" src="{{ url_for('static', filename='img/status-green.png') }}" alt="online" title="L'utilisateur est en ligne"/>
				{% else: %}
				<img width="10%" src="{{ url_for('static', filename='img/status-red.png') }}" alt="offline" title="L'utilisateur est hors ligne"/>
				{% endif%}

				<div style="display: inline-flex;">	
					{% if infos['is_user_me'] == False  and infos['has_blocked'] == False %}
					<div style="width: 50%; padding-bottom: 10px; padding-top: 10px;">
						<form name="form_block" action="/block" method="post">
							<input type="image" name="block" class="like_button" src="{{ url_for('static', filename='img/block_button.png') }}" title="Bloquer cet utilisateur.">
							<input type="hidden" name="stalker" value="{{ infos['stalker'] }}">
							<input type="hidden" name="victim" value="{{ infos['username'] }}">
						</form>

					</div>
					{% elif infos['is_user_me'] == False  and infos['has_blocked'] == True %}
					<div style="width: 50%; padding-bottom: 10px; padding-top: 10px;">
						<form name="form_unblock" action="/unblock" method="post">
							<input type="image" name="unblock" class="like_button" src="{{ url_for('static', filename='img/unblock_button.png') }}" title="Débloquer cet utilisateur.">
							<input type="hidden" name="stalker" value="{{ infos['stalker'] }}">
							<input type="hidden" name="victim" value="{{ infos['username'] }}">
						</form>

					</div>
					{% endif %}

					{% if infos['is_user_me'] == False%}
					<div style="width: 50%; padding-bottom: 10px; padding-top: 10px;">
						<form name="fake_report" action="/fake_report" method="post">
							<input type="image" name="fake_report" class="like_button" src="{{ url_for('static', filename='img/fake_button.png') }}" title="Reporter ce compte comme étant un faux.">
							<input type="hidden" name="stalker" value="{{ infos['stalker'] }}">
							<input type="hidden" name="victim" value="{{ infos['username'] }}">
						</form>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
		
	<div id="main_container">
		<div id="box_left">
			<div class="inline" name="age" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('age')" onmouseleave="unDisplayForm('age')" {% endif %}>
				<div><strong>Age:</strong></div>

				<p>{{ infos['age'] }}</p>
				
				{% if infos['is_user_me'] == True %}
				<form name="form_age" action="/profile_modifications" method="post" hidden>
					<input type="number" name="age" placeholder="{{ infos['age'] }}" min="18" max="40">
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" name="submit" value="Modif.">
				</form>
				{% endif %}
			</div>


			<div class="inline" name="sex" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('sex')" onmouseleave="unDisplayForm('sex')" {% endif %}>
				<div><strong>Sexe:</strong></div>

				<p>{{ infos['sex'] }}</p>
				
				{% if infos['is_user_me'] == True %}
				<form name="form_sex" action="/profile_modifications" method="post" hidden>
					<!-- <input type="text" name="sex" placeholder="{{ infos['sex'] }}"> -->
					<select name="sex">
						<option value="1">Homme</option>
						<option value="2">Femme</option>
					</select>
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" name="submit" value="Modif.">
				</form>
				{% endif %}
			</div>

			<div class="inline" name="orientation" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('orientation')" onmouseleave="unDisplayForm('orientation')" {% endif %}>
				<div><strong>Orientation:</strong></div>

				<p>{{ infos['orientation'] }}</p>
				
				{% if infos['is_user_me'] == True %}
				<form name="form_orientation" action="/profile_modifications" method="post" hidden>
					<!-- <input type="text" name="orientation" placeholder="{{ infos['orientation'] }}"> -->
					<select name="orientation">
						<option value="0">Homo</option>
						<option value="1">Hétéro</option>
						<option value="2">Bi</option>
					</select>
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" name="submit" value="Modif.">
				</form>
				{% endif %}
			</div>

			<div class="inline" name="bio" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('bio')" onmouseleave="unDisplayForm('bio')" {% endif %}>
				<div><strong>Bio:</strong></div>

				<p>{{ infos['bio'] }}</p>
				
				{% if infos['is_user_me'] == True %}
				<form name="form_bio" action="/profile_modifications" method="post" hidden>
					<input type="text" name="bio" placeholder="{{ infos['bio'] }}">
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" name="submit" value="Modif.">
				</form>
				{% endif %}
			</div>

			<div class="inline" name="interests" {% if infos['is_user_me'] == True %} onmouseenter="displayForm('interests')" {% endif %}>
				<div><strong>Intérêts:</strong></div>

				{% if infos['is_user_me'] == True %}
				<form name="form_interests" action="/profile_modifications" method="post" hidden>
					<input type="text" name="interests" list="tags">
					<datalist id="tags">
					{% for tag in tags: %}
						<option value="{{tag}}" autocomplete="on"></option>	
					{% endfor %}
					</datalist>
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" name="submit" value="+">
				</form>

				{% endif %}

				<ul style="flex-direction: column; list-style: none; justify-content: space-evenly;">
				{% for item in infos['interests']:%}
				<li {% if infos['is_user_me'] == True %} onmouseenter="displayForm('{{item['value']}}')" onmouseleave="unDisplayForm('{{item['value']}}')"  {% endif %}>{{ item['value']}}
				<form name="form_{{item['value']}}" action="/profile_modifications" method="post" hidden>
					<input type="hidden" name="tag" value="{{ item['id'] }}">
					<input type="hidden" name="username" value="{{ infos['username'] }}">
					<input type="submit" style="border-radius: 15px; background-color: red; color: white;" name="submit" value="x">
				</form>
				</li>
				{%endfor%}
				</ul>
				
				
			</div>
		</div>
		
		<div id="box_right">
			<div {% if infos['is_user_me'] == True %} onmouseenter="displayForm('picture_2')" onmouseleave="unDisplayForm('picture_2')" {% endif %}>
				<img src="{{ infos['picture_2'] }}"/>

				<form name="form_picture_2" method="post" action="/profile_add_picture" enctype="multipart/form-data" hidden>
			        <input type="file" name="picture"/>
			        <input type="hidden" name="username" value="{{ infos['username'] }}">
			        <input type="hidden" name="number" value="2">
			        <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
			        <input type="submit" name="submit" value="Upload"/>
			    </form>
			</div>

			<div {% if infos['is_user_me'] == True %} onmouseenter="displayForm('picture_3')" onmouseleave="unDisplayForm('picture_3')" {% endif %}>
				<img src="{{ infos['picture_3'] }}"/>

				<form name="form_picture_3" method="post" action="/profile_add_picture" enctype="multipart/form-data" hidden>
			        <input type="file" name="picture"/>
			        <input type="hidden" name="username" value="{{ infos['username'] }}">
			        <input type="hidden" name="number" value="3">
			        <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
			        <input type="submit" name="submit" value="Upload"/>
			    </form>
			</div>
			
			<div {% if infos['is_user_me'] == True %} onmouseenter="displayForm('picture_4')" onmouseleave="unDisplayForm('picture_4')" {% endif %}>
				<img src="{{ infos['picture_4'] }}"/>

				<form name="form_picture_4" method="post" action="/profile_add_picture" enctype="multipart/form-data" hidden>
			        <input type="file" name="picture"/>
			        <input type="hidden" name="username" value="{{ infos['username'] }}">
			        <input type="hidden" name="number" value="4">
			        <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
			        <input type="submit" name="submit" value="Upload"/>
			    </form>
			</div>

			<div {% if infos['is_user_me'] == True %} onmouseenter="displayForm('picture_5')" onmouseleave="unDisplayForm('picture_5')" {% endif %}>
				<img src="{{ infos['picture_5'] }}"/>

				<form name="form_picture_5" method="post" action="/profile_add_picture" enctype="multipart/form-data" hidden>
			        <input type="file" name="picture"/>
			        <input type="hidden" name="username" value="{{ infos['username'] }}">
			        <input type="hidden" name="number" value="5">
			        <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
			        <input type="submit" name="submit" value="Upload"/>
			    </form>
			</div>
		</div>
	</div>

	<div id="box_history">
		<div id="history_views">
			<p>Ils ont consulté ta page:</p>

			{% for item in infos['all_views']: %}
			<div class="stalkers">
				<p><a href="/profile/{{item['username']}}">{{ item['username']}}</a> le {{ item['created_at']}} </p>	
			</div>
			{% endfor %}
		</div>

		<div id="history_likes">
			<p>Ils t'ont liké:</p>

			{% for item in infos['all_likes']: %}
			<div class="stalkers">
				<p><a href="/profile/{{item['username']}}">{{ item['username']}}</a> le {{ item['created_at']}} </p>	
			</div>
			{% endfor %}
		</div>
	</div>

	{% endblock body %}

	{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/profile-controller.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/set_geoloc.js') }}"></script>
    {% endblock script %}

        
</html>
























